// Variables Viewports
$max-width-container: 1360px;
$logo-max-width: 170px;
$logo-max-width-tablet: 140px;
$logo-max-width-mobile: 120px;

// Breakpoints
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

// Mixins
@mixin mobile {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-breakpoint}) and (max-width: #{$desktop-breakpoint - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-breakpoint}) {
    @content;
  } 
}

// Mixin for transitions
@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: $property $duration $timing;
}

// Mixin for tablet and below
@mixin tablet-and-below {
  @media (max-width: #{$desktop-breakpoint - 1px}) {
    @content;
  }
}

