@forward 'homepage';
@use './variables' as *;
@use 'style-switch' as *;

// Global styles
body {
	overflow-x: hidden;
	font-weight: 400;
	// color: #333333;
}

// Typography
h1,
h2,
h3,
h4,
h5 {
	line-height: 1.25;
}

.builder-text, .builder-block p {
	line-height: 1.65 !important;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #EFF1F3;
	margin: 1.5em 0;
	padding: 0;
}


/* footer text color adjustment */
.sf-footer {
	.builder-text a {
		color: $color-white !important;
		transition: all 0.2s ease;

		&:hover {
			color: $color-primary-light !important;
		}
	}

	.footer__link {
		color: $color-white !important;
		transition: all 0.2s ease;
		&:hover {
			color: $color-primary-light !important;
		}
	}
}

.category__banner {
    border-radius: 12px;
    overflow: hidden;
	&-image {
		// height: auto !important;
		img {
			object-fit: cover;
		}
	}
}


// Fix button style
/* buttons CTA styling with site colors */
.builder-block a[role="button"],
.builder-block a[role="link"] {
	background-color: $button-background;
	color: $button-text;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	transition: all 0.2s ease;
	cursor: pointer;
}

.builder-block a[role="button"]:hover,
.builder-block a[role="link"]:hover {
	background-color: $button-hover_background;
	color: $button-hover_text;
	transition: all 0.3s ease;
}

// Fix locations page when content is shorter and footer goes up.
.locations-page {
	min-height: calc(100vh - 600px) !important;
}


//  ----------------------------------- Header styles -----------------------------------

.sf-header {
	&__action {
		color: $header-links-color !important;
		transition: color 0.3s ease;
		&:hover {
			color: $menu-header-hover-text-color !important;
			transition: color 0.3s ease;
		}
	}

	&__header {
		column-gap: 15px;
		box-sizing: border-box;

		@include desktop {
			// padding: 15px !important;
			max-width: 1360px !important;
		}
	}

	.navigation-item {
		&__link {
			&:hover {
				color: $menu-header-hover-text-color !important;
			}
		}
	}

	.current-selected-store {
		color: $header-links-color;

		&__icon {
			color: $color-secondary !important;
		}

		&__store-button {
			color: $color-secondary !important;
		}
	}

	&__icons {
		color: $header-links-color !important;
		margin: 0;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: start;
		margin: 0;
		padding: 0;
	}

	.store-selector {
		margin: var(--spacer-xs) !important;
	}


	// a:hover {
	// 	color
	// }

	// Turns hamburguer icon white if needed 
	// &__aside {
	// 	filter: invert(1);
	// }


	// Fixes distribution of mobile top bar items
	&__mobile-top-bar {
		column-gap: 30px;
		padding-bottom: 0;

		>* {
			flex: 1;
		}

		.sf-button:first-child {
			justify-content: flex-start;
		}
	}

}


.search-dropdown {
	&__column {
		color: $color-primary !important;
	}

	&__title {
		color: $color-primary !important;
	}

	&__recent-item a {
		color: $color-white !important;
		cursor: pointer;

		&:hover {
			color: $color-secondary !important;
		}
	}
}

// Mobile header icons
.header-mobile-icons {
	margin: 0;
	justify-content: flex-end;
}

// Responsive adjustments
@include mobile {
	// Add mobile-specific styles here
}

@include tablet {
	// Add tablet-specific styles here
}

@include desktop {
	// Add desktop-specific styles here
	

	// Normalize topbar max width
	.topbar {
		max-width: 1360px !important;
	}

	.layout-root {
		max-width: 1360px !important;
	}

	#layout {
		max-width: 1360px !important;
	}
	#category {
		max-width: unset !important;
	}

	// This fixes problem with product information alignment.
	#product {
		max-width: unset !important;
		.product {
			&__details {
				width: unset !important;
			}
			&__header {
				h1 {
					font-weight: 800;
					font-size: 2em;
					color: $color-primary;
				}
			}
			&__brand {
				h2 {
					color: $color-secondary;
					opacity: 0.6;
				}
			}
		}
	}
}
	

