/*
* Custom CSS styles
*
* Global by default, but use `&` to scope to just this content, e.g.
*
*   & .foo {
*     color: 'red'
*   }
*/



/* Carousel Overrides
- Oscar Dykeman - Commented on 01/18/24

 */

 
 .sf-arrow--right:after {
    color: white !important;
}

button.sf-arrow--right.sf-arrow {
    box-shadow: none !important;
    border-radius: 0 !important;
    right: 0 !important;
    background-color: #e41b38;
    color: white;
}

.carousel-slide__image {
    background-position: center;
}

.call-to-action {
    margin-bottom: 5px;
}


@media (max-width: 1023px) {
    .carousel-slide__content {
        flex-basis: unset !important;
        padding: 15px !important;
    }

}

@media (min-width: 1024px) {
    .carousel-slide__wrapper {
        width: 100% !important;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .carousel-slide__content {
        margin-left: 0 !important;
        display: flex;
        padding: 15px 30px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: flex-start;
    }

    .carousel-slide {
        max-height: 450px;
    }

    .carousel-slide__content p {
        margin-top: 0px !important;
    }

    .carousel-slide__heading {
        line-height: 2.2rem !important;
        padding-top: 0px;
    }

    .sf-carousel-item.glide__slide {
        position: relative;
    }
    
    .carousel-bullets {
        top: 101% !important;
        left: 0 !important;
    }
    .carousel-slide__wrapper {
        display: block !important;
    }
    .carousel-slide__content {
        padding: 15px !important;
        gap: 5px !important;
    }
}

