/* HOME PAGE  JOHN PLYLER OLD -------------------------------------------------------------------- */
/* Brands accordion */
.item-expandable {
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
}
.item-expandable:hover {
  flex-grow: 2;
}

/* Slider Styles */
.sf-arrow {
  background-color: var(--primary-dealer-color) !important;
  right: 30px !important;
}
.sf-arrow:after {
  color: #FFFFFF !important;
}

.sf-carousel__controls {
  left: unset !important;
  right: 0 !important;
}

.carousel-slide__image {
  background-position: center;
}

.sf-carousel-item.glide__slide {
  position: relative;
}

@media (min-width: 1024px) {
  .carousel-slide__wrapper {
    width: 100% !important;
    height: auto;
    position: absolute;
    padding: 0 15px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4) !important;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
  .carousel-slide__heading {
    order: 0;
    width: 80%;
    line-height: 1.5 !important;
    font-size: 1.5em !important;
  }
  .carousel-slide__content {
    width: 100% !important;
    max-width: 1360px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
  }
  .carousel-slide__content .call-to-action {
    justify-self: end;
    order: 1;
    align-self: center;
  }
  .carousel-slide__content p {
    width: 100%;
    order: 2;
    margin: 0 !important;
    max-width: 80%;
    font-size: 0.8em;
    font-weight: 200;
    line-height: 150% !important;
    padding-bottom: 10px !important;
  }

  .carousel-bullets {
    top: 100% !important;
    left: 0 !important;
  }
}
@media (max-width: 1023px) {
  .carousel-slide {
    height: unset !important;
  }
  .carousel-slide__wrapper {
    background-color: var(--primary-dealer-color) !important;
  }
  .carousel-slide__content {
    width: 100%;
    padding: 10px 20px !important;
    display: flex;
    flex-direction: column;
    flex-basis: unset !important;
  }
  .carousel-slide__content p {
    margin-top: 0;
  }

  .cms-button {
    width: 100%;
    text-align: center;
  }
}