// JAMAICA COLORS
$color-primary-dark: #9e153a;
$color-primary: var(--primary-dealer-color);
$color-primary-light: #f6afc2;
$color-secondary: var(--secondary-dealer-color);
$color-white: #FFFFFF;
$header-links-color: var(--secondary-dealer-color); // Assuming this was already defined

// Colors Buttons
$button-background:#C32D55;
$button-text: #F0F1F6;
$button-hover_background:#FFC47B;
$button-hover_text: #794a10;