@import 'variables';

/* HOME PAGE -------------------------------------------------------------------- */


/* Brands accordion */
.item-expandable {
	@include transition;
	cursor: pointer !important;
	&:hover {
		flex-grow: 2;
	}
}



/* Slider Styles */
.sf-carousel {
	// border: 10px solid green;
	.sf-arrow {
		background-color: var(--primary-dealer-color) !important;
		&:after {
			color: $color-white !important;
		}
	}
	
}
.controls {
	.sf-arrow {
		right: 0 !important;
	}
}


.carousel-slide__image {
	background-position: center;
}


.sf-carousel-item.glide__slide {
	position: relative;
}


// Desktop styles
@include desktop {
	.carousel-slide {
		&__wrapper {
			width: 100% !important;
			height: auto;
			position: absolute;
			padding: 0 15px;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0,0,0,0.4) !important;
			-webkit-backdrop-filter: blur(15px);
			backdrop-filter: blur(15px);
		}

		&__heading {
			order: 0;
			width: 80%;
			line-height: 1.5 !important;
			font-size: 1.5em !important;
		}

		&__content {
			width: 100% !important;
			max-width: $max-width-container;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			align-content: flex-start;
			align-items: flex-start;
			.call-to-action {
				justify-self: end;
				order: 1;
				align-self: center;
			}
			
			p {
				width: 100%;
				order: 2;
				margin: 0 !important;
				max-width: 80%;
				font-size: 0.8em;
				font-weight: 200;
				line-height: 150% !important;
				padding-bottom: 10px !important;
			}

		}

		
	}

	// Carousel Featured Products
	.product-carousel {
        width: 100vw !important;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 0 -50vw 0 -50vw !important;
		&__wrapper {
			width: 100% !important;
			max-width: 1360px;
		}
		.controls__next {
			right: -30px;
		}
    }



    /* Adjusts buttons on product carousel to not be over the content */ 
    // .product-carousel .controls__previous {
    //     left: -45px !important;
    // }
    // .product-carousel .controls__next{
    //     right: -45px !important;
    // }



}  // end Desktop

// Mobile and Tablet for Slider
@include tablet-and-below {
	.carousel-slide {
		height: unset !important;
		&__wrapper {
			background-color: var(--primary-dealer-color) !important;
		}

		&__content {
			width: 100%;
			padding: 10px 20px !important;
			display: flex;
			flex-direction: column;
			flex-basis: unset !important;
			p {
				margin-top: 0;
			}
		}
	}

	.carousel-bullets {
		top: unset !important;
		left: unset !important;
		right: 10px;
		bottom: 10px;
	}

	.cms-button {
		width: 100%;
		text-align: center;
	}
}


