body {
  overflow-x: hidden;
  font-weight: 400;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25;
}

.builder-text p {
  line-height: 1.65 !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #EFF1F3;
  margin: 1.5em 0;
  padding: 0;
}

/* footer text color adjustment */
.sf-footer .builder-text a {
  color: #FFFFFF !important;
  transition: all 0.2s ease;
}
.sf-footer .builder-text a:hover {
  color: #37BEDC !important;
}
.sf-footer .footer__link {
  color: #FFFFFF !important;
  transition: all 0.2s ease;
}
.sf-footer .footer__link:hover {
  color: #37BEDC !important;
}

/* buttons CTA styling with site colors */
a[role=button] {
  /* Your styles here */
  background-color: #1A2379;
  border: 1px solid transparent;
  color: #F0F1F6;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Hover effect */
a[role=button]:hover {
  background-color: #265DAD;
  border: 1px solid #cdd2fe;
  transition: all 0.3s ease;
  color: #cdd2fe;
}

.sf-header__action {
  color: --var(secondary-dealer-color);
}
.sf-header__action:hover {
  color: --var(secondary-dealer-color) !important;
}
.sf-header__header {
  column-gap: 15px;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .sf-header__header {
    max-width: 1360px !important;
  }
}
.sf-header .navigation-item__link:hover {
  color: #FFFFFF !important;
}
.sf-header .current-selected-store {
  color: --var(secondary-dealer-color);
}
.sf-header .current-selected-store__icon {
  color: --var(secondary-dealer-color) !important;
}
.sf-header .current-selected-store__store-button {
  color: --var(secondary-dealer-color) !important;
}
.sf-header__icons {
  margin: 0;
}
.sf-header__logo {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0;
}
.sf-header .store-selector {
  margin: var(--spacer-xs) !important;
}
.sf-header__mobile-top-bar {
  column-gap: 30px;
  padding-bottom: 0;
}
.sf-header__mobile-top-bar > * {
  flex: 1;
}
.sf-header__mobile-top-bar .sf-button:first-child {
  justify-content: flex-start;
}

.search-dropdown__column {
  color: #1A2379 !important;
}
.search-dropdown__title {
  color: #1A2379 !important;
}
.search-dropdown__recent-item a {
  color: #FFFFFF !important;
  cursor: pointer;
}
.search-dropdown__recent-item a:hover {
  color: --var(secondary-dealer-color) !important;
}

.header-mobile-icons {
  margin: 0;
  justify-content: flex-end;
}

@media (min-width: 1024px) {
  .topbar {
    max-width: 1360px !important;
  }

  #layout {
    max-width: 1360px !important;
  }
}