// JOHN PLYLER COLORS
$color-primary-dark: #102915 ;
$color-primary: var(--primary-dealer-color);
$color-primary-light: #428750;
$color-secondary: var(--secondary-dealer-color);
$color-white: #FFFFFF;

// Header icons and colors text 
$header-links-color: #FFFFFF ; // Assuming this was already defined
$menu-header-hover-text-color: #ddddb1;


// Colors Buttons
$button-background: var(--primary-dealer-color);
$button-text: white;
$button-hover-background: #ddddb1;
$button-hover-text: white;



