// JCI SUPPLY COLORS
$color-primary-dark: #102065 ;
$color-primary: var(--primary-dealer-color);
$color-primary-light: #3a73c9;
$color-secondary: var(--secondary-dealer-color);
$color-white: #FFFFFF;
$body-font-color: #272831;  

//color of the links and icons on the header on the right of the search bar
$header-links-color: #25347a ; // Assuming this was already defined
$menu-header-hover-text-color: #285DB7;
$menu-navigation-hover-text-color: #FFF;

// Color of the icons in the header above the search bar
$header-icons-color: #25347a;

// Colors Buttons CTA
$button-background: #285DB7;
$button-text: #B6D1FF;
$button-hover-background: #ffb761;
$button-hover-text: #1B2F51;

// Colors for the Footer
$footer-link-color: #F3F3F3;
$footer-link-color-hover: #ffb761;

// --- Aditional Specific styles ---
// hello


.carousel-slide {
    border-radius: 0 !important;
}